---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="w-full py-12 px-6 md:px-12 border-t border-gray-700">
  <div class="max-w-6xl mx-auto text-center">
    <p class="text-gray-400">{t('footer.rights')}</p>
  </div>
</footer>
