---
const currentPath = Astro.url.pathname;
---

<header class="w-full py-6 px-6 md:px-12 sticky top-0 z-50 bg-gradient-to-b from-[#1a1f3a] to-transparent">
	<nav class="max-w-6xl mx-auto md:flex justify-between items-center flex-col">
		<div class="text-2xl font-bold text-fontColor">Jhonatanmizu.dev</div>
		<ul class="md:flex gap-8 text-fontColor flex">
			<li><a href="/" class={currentPath === '/' ? 'text-primary' : 'hover:text-primary transition'}>Home</a></li>
			<li><a href="/about/" class={currentPath === '/about/' ? 'text-primary' : 'hover:text-primary transition'}>About</a></li>
			<li><a href="#posts" class={currentPath === '/posts' ? 'text-primary' : 'hover:text-primary transition'}>Posts</a></li>
			<li><a href="#projects" class={currentPath === '/projects' ? 'text-primary' : 'hover:text-primary transition'}>Projects</a></li>
			<li><a href="#contact" class={currentPath === '/contact' ? 'text-primary' : 'hover:text-primary transition'}>Contact</a></li>
		</ul>
	</nav>
</header>