---

---

<section class="w-full py-20 px-6 md:px-12 text-center">
  <div class="max-w-6xl mx-auto">
    <h1 class="text-5xl md:text-6xl font-medium text-fontColor mb-4">
      Jhonatanmizu
    </h1>
    <p class="text-2xl font-bold md:text-2xl text-primary mb-8">
      FullStack Software Engineer
    </p>
    <p
      class="text-fontColor max-w-2xl mx-auto text-lg leading-relaxed text-left"
    >
      Dynamic full-stack software specialist specializing in cutting-edge web
      design and development with 4+ years of experience in software development
      and user experience design. Expert in React and Python.
    </p>
  </div>
</section>
