---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = 'Jhonatan Mizu - FullStack Developer', description = 'Full-stack developer and UI/UX specialist with 4+ years of experience.' } = Astro.props;
---

<html lang="en" class="overflow-x-hidden">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="bg-gradient-to-br from-base to-base_alt text-fontColor overflow-x-hidden">
		<Header />
		<slot />
		<Footer />
		<script>
			import AOS from 'aos';
			import 'aos/dist/aos.css';
			AOS.init({
				duration: 800,
				once: false,
			});
		</script>
	</body>
</html>